.bg-light {
    background-color: rgb(116, 177, 233) !important;
}

.degradehotel {
    background: linear-gradient(to right, #434343 0%, black 100%);
}
.cuerpo_centro img {
    width: 400px;
    height: 300px;
    margin: 0.2em;
    border-radius: 10px;
}
.caja_1 {
    width: 100%; height: 500px;
    background-image: url("../img/toalla.jpg") !important;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0;
    margin-left: 0px;
    
    }
.textdiv {
    margin-top: 300px;    
    margin-bottom: 0;
}
.card-img-top{
    margin-top: 10px;
    width: 200px !important;
    height: 200px !important;
    
}
.iconos {
    width: 45px !important;
    height: 45px !important;
}