@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');


body {

    padding: 2px;
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 8%, rgba(9,9,121,1) 40%, rgba(255,255,255,1) 99%);
}

.Logo{
    width: 80%;
    height: 100%;
}

nav{
    height: 151px;
    margin-bottom: 1em;
}
section{
    width: 60%;
    border: 4px solid #ddd;
    padding: 3em;
    margin: 2em;
    
    
}


#titulo_section{
    text-shadow: 1px 3px 4px blue;
}

.panel-dropdown.active .panel-dropdown-content {
    visibility: visible;
    opacity: 1;
}

.panel-dropdown .panel-dropdown-content {
    position: absolute;
    margin-top: 15px;
    padding: 20px;
    width: 300px;
    visibility: hidden;
    opacity: 0;
    background: #fff;
    border: 1px solid #efefef;
    -webkit-box-shadow: 0 12px 26px 0 rgb(178 178 178 / 13%);
    box-shadow: 0 12px 26px 0 rgb(178 178 178 / 13%);
    border-radius: 2px;
    z-index: 99;
}








aside{
    width: 34.5%;
    background-color: #040629;
    color: #ddd;
    padding: 2em;
    border-radius: 15px;
}
.text_aside{
    text-align: justify;
}
.image_aside{
    width: 100%;
    height: 20%;
    border-radius: 15px;
    border: 4px solid #ddd;
    display:block;
    
}
footer{
    margin: 1em;
    width: 100%;
    height: 340px;
    padding-top: 30px;
    border-top-style:double;
    border-top-width: 0.6em ;
    border-top-color: #191f8d;
}
.footer_flex-container{
    width: 100%;
    color: #ddd;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 0.9em;
}
.footer_b{
    width: 100%;
    color: #ddd;
    font-size: 0.9em;
    padding: 0.5em;
    text-align: center;
    border-top:2px solid #191f8d;
    align-items: center;
    
}
.footer_a_1{
    width: 30%;  
    text-align: center;
    
    
}
.footer_h6{
    font-size: 2em;
    font-family: Open Sans;
    color: rgb(107, 131, 134);
    text-align: center; 
}
li{
    text-decoration: none;
    list-style:none;
    font-size: 1.4em;
    font-family: 'Assistant', sans-serif;
    padding: 0.1em;
    
}

.link_footer{
    text-decoration: none !important; 
}
