
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



/*estilos section- inicio*/

.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin:10px ;
    justify-content: center;

}

.flex-item{
    width: 600px;
    height: 500px;
    margin: 20px 0;
}

.img_section_paquetes{
    width: 600px;
    height: 500px;
    border-bottom: 5px   solid rgb(164, 164, 246);
    border-top: 5px   solid rgb(164, 164, 246);
    border-right: 5px   solid rgb(164, 164, 246);
    border-left: 2px   solid rgb(254, 254, 255);
    box-shadow: 5px 5px 5px rgb(109, 109, 122);
    border-radius: 0 15px 15px 0;
}

.img_section_paquetes_1{
    width: 600px;
    height: 500px;
    border-bottom: 5px   solid #191f8d;
    border-top: 5px   solid #191f8d;
    border-left: 5px   solid #191f8d;
    border-right: 2px   solid rgb(254, 254, 255);
    box-shadow: 5px 5px 5px rgb(109, 109, 122);
    border-radius: 15px 0 0 15px ;
}

.flex-item_text{
    width: 700px;
    height: 500px;
    background-color: #080b35;
    margin: 20px 0;
    border-radius: 15px 0 0 15px ;
    border-bottom: 5px   solid rgb(164, 164, 246);
    border-top: 5px   solid rgb(164, 164, 246);
    border-left: 5px   solid rgb(164, 164, 246);
    border-right: 4px   solid rgb(254, 254, 255);
    box-shadow: 5px 5px 5px rgb(109, 109, 122);
    padding: 2em;
}

.flex-item_text_1{
    width: 700px;
    height: 500px;
    background-color: rgb(229, 226, 226);
    margin: 20px 0;
    border-radius: 0 15px 15px 0 ;
    border-bottom: 5px   solid #191f8d;
    border-top: 5px   solid #191f8d;
    border-right: 5px   solid #191f8d;
    border-left: 4px   solid rgb(254, 254, 255);
    box-shadow: 5px 5px 5px rgb(109, 109, 122);
    padding: 2em;
}

 .flex-item_text_1 li{
    color:  #111566;;
    font-size: 15px;
    margin: 1em;

}
.flex-item_text li{
    color: #4c51b3;
    font-size: 15px;
    margin: 1em;


}

.flex-item_text ul, .flex-item_text_1 ul{
    margin: 2px;
    
    
}

.link_reserva_section{
    color: blue;
    font-size: 15px;
    font-family: 'Michroma', sans-serif;
    margin: 0px 10px;
    
}
.link_reserva_section_1{
    color: rgb(204, 204, 252);
    font-size: 15px;
    font-family: 'Michroma', sans-serif;
    margin: 0px 10px;
    
}
.h_titulo_section{
    font-size: 1.8em;    
}

.h_titulo_section_1{
    font-size: 1.8em; 
    color: rgb(188, 188, 246);
}

.p_text_section{
    font-size: 20px;
    letter-spacing: 1px;
}

.p_text_section_1{
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(55, 55, 167);
}
.flex-item_text_1 li, .flex-item_text li{
    letter-spacing: 0.8px;
    font-family: 'Montserrat', sans-serif;
} 

.codigo_section{
    color: rgb(1, 90, 1);
    font-size: 20px;
}

/*estilos section- termina*/

/*estilos Footer - inicio*/

footer{
    margin: 1em;
    width: 98%;
    height: 340px;
    padding-top: 30px;
    border-top-style:double;
    border-top-width: 0.6em ;
    border-top-color: #191f8d;
}
.footer_flex-container{
    width: 100%;
    color: #ddd;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 0.9em;
}
.footer_b{
    width: 100%;
    color: blue;
    font-size: 0.9em;
    text-align: center;
    border-top:2px solid #191f8d;
    align-items: center;
    
}
.footer_a_1{
    width: 30%;  
    text-align: center;
    
    
}
.footer_h6{
    font-size: 2em;
    font-family: Open Sans;
    color: rgb(107, 131, 134);
    text-align: center; 
}
li{
    text-decoration: none;
    list-style:none;
    font-size: 1.4em;
    font-family: 'Assistant', sans-serif;
    padding: 0.1em;
    
}

.link_footer{
    text-decoration: none !important; 
}

/*estilos Footer - final*/

@media screen and (min-width:2px) and (max-width:380px) {
    /* Nuestras nuevas reglas con este ancho o menos de pantalla */

    

/*estilos section- inicio*/

.flex-container{
    display: flex;
    flex-direction:column;


}

.flex-item{
    width: 318px;
    height: 220px;
    margin: 0px ;
}

.img_section_paquetes{
    width: 310px;
    height: 220px;
    border-bottom: 3px   solid rgb(164, 164, 246);
    border-top: 0px ;
    border-right: 3px   solid rgb(164, 164, 246);
    border-left: 3px   solid rgb(164, 164, 246);
    border-radius: 0px  0px 15px  15px ;
    margin: 0 0 10px 1px;
    
}

.img_section_paquetes_1{
    width: 310px;
    height: 220px;
    border-top: 3px   solid #191f8d;
    border-left: 3px   solid #191f8d;
    border-right: 3px   solid #191f8d;
    border-radius: 15px 15px 0 0px ;
    border-bottom: 0px;
    margin: 10px 0px 0 1px;
}

.flex-item_text{
    width: 310px;
    height: 515px;
    background-color: #080b35;
    margin: 0px 0px 0px 0px;
    border-radius: 15px 15px 0 0 ;
    border-right: 3px   solid rgb(164, 164, 246);
    border-top: 3px   solid rgb(164, 164, 246);
    border-left: 3px   solid rgb(164, 164, 246);
    border-bottom: 0px;
    padding: 0.2em;
}

.flex-item_text_1{
    width: 310px;
    height: 510px;
    background-color: rgb(229, 226, 226);
    margin: 0px 0px 10px 1px;
    border-radius: 0 0 15px 15px  ;
    border-bottom: 3px   solid #191f8d;
    border-right: 3px   solid #191f8d;
    border-left: 3px   solid #191f8d;
    border-top: 0px;
    padding: 0.1em;
}

.flex-item_text_1 ul{
    padding-left: 20px;
    padding-right: 8px;
    
}

.flex-item_text ul{
    padding-left: 20px;
    padding-right: 8px;
    
}


 .flex-item_text_1 li{
    color:  #111566;;
    font-size: 0.7em;

}
.flex-item_text li{
    color: #4c51b3;
    font-size: 0.7em;

}

.link_reserva_section{
    color: blue;
    font-size: 1em;
    font-family: 'Michroma', sans-serif;
    margin: 0px 0.5px;
    
}
.link_reserva_section_1{
    color: rgb(204, 204, 252);
    font-size: 1em;
    font-family: 'Michroma', sans-serif;
    margin: 0px 0.5px;
    
}
.h_titulo_section{
    font-size: 1em;    
}

.h_titulo_section_1{
    font-size: 1em; 
    color: rgb(188, 188, 246);
}

.p_text_section{
    font-size: 1em;

}

.p_text_section_1{
    font-size: 1em;
    color: rgb(55, 55, 167);
}
.flex-item_text_1 li, .flex-item_text li{
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
} 

.codigo_section{
    color: rgb(1, 90, 1);
    font-size: 10px;
}



/*estilos section- termina*/


/*estilos Footer - inicio*/

footer{
    margin: 0.5em;
    width: 98%;
    height: 610px;
    padding-top: 5px;
    border-top-style:double;
    border-top-width: 0.3em ;
    border-top-color: #191f8d;
}
.footer_flex-container{
    width: 99%;
    color: #ddd;
    display: flex;
    flex-direction:column;
    padding: 0.9em;
    text-align: center;
}
.footer_b{
    width: 99%;
    color: blue;
    font-size: 0.8em;
    text-align: center;
    border-top:2px solid #191f8d;
    align-items: center;
    
}
.footer_a_1{
    width: 98%;  
    text-align: center;
    
}
.footer_h6{
    font-size: 2em;
    font-family: Open Sans;
    color: rgb(107, 131, 134);
    text-align: center; 
}
li{
    text-decoration: none;
    list-style:none;
    font-size: 1em;
    font-family: 'Assistant', sans-serif;
    padding: 0.1em;
    
}

.footer_a_1 ul{
    padding: 0px;
}

.link_footer{
    text-decoration: none !important; 
}

/*estilos Footer - final*/





   }


@media screen and (min-width:400px) and (max-width:590px) {
    /* Nuestras nuevas reglas con este ancho o más de pantalla */

    

/*estilos section- inicio*/

.flex-container{
    display: flex;
    justify-content:center;
    width: 100%;
    margin: 3px;
}

.flex-item{
    width: 398px;
    height: 250px;
    margin: 0px;
}

.img_section_paquetes{
    width: 380px;
    height: 240px;
    border-bottom: 3px   solid rgb(164, 164, 246);
    border-top: 0px ;
    border-right: 3px   solid rgb(164, 164, 246);
    border-left: 3px   solid rgb(164, 164, 246);
    border-radius: 0px  0px 15px  15px ;
    margin: 0 0px 0 9px;
}

.img_section_paquetes_1{
    width: 380px;
    height: 250px;
    border-top: 3px   solid #191f8d;
    border-left: 3px   solid #191f8d;
    border-right: 3px   solid #191f8d;
    border-radius: 15px 15px 0 0px ;
    border-bottom: 0px;
    margin: 0px 0px 0 9px;
}

.flex-item_text{
    width: 380px;
    height: 525px;
    background-color: #080b35;
    /*margin: 5px 2px 0px 5px;*/
    border-radius: 15px 15px 0 0 ;
    border-right: 3px   solid rgb(164, 164, 246);
    border-top: 3px   solid rgb(164, 164, 246);
    border-left: 3px   solid rgb(164, 164, 246);
    border-bottom: 0px;
    padding: 0.2em;
    margin: 0 ;
}

.flex-item_text_1{
    width: 380px;
    height: 510px;
    background-color: rgb(229, 226, 226);
    /*margin: 0px 2px 2px 5px;*/
    border-radius: 0 0 15px 15px  ;
    border-bottom: 3px   solid #191f8d;
    border-right: 3px   solid #191f8d;
    border-left: 3px   solid #191f8d;
    border-top: 0px;
    padding: 0.1em;
    margin: 0;
}



.flex-item_text_1{
    width: 380px;
    height: 500px;
    background-color: rgb(229, 226, 226);
    /*margin: 0px 2px 2px 5px;*/
    border-radius: 0 0 15px 15px  ;
    border-bottom: 3px   solid #191f8d;
    border-right: 3px   solid #191f8d;
    border-left: 3px   solid #191f8d;
    border-top: 0px;
    padding: 0.1em;
    margin-bottom: 10px;
}

.flex-item_text_1 ul{
    padding-left: 20px;
    padding-right: 8px;
    
}

.flex-item_text ul{
    padding-left: 20px;
    padding-right: 8px;
    
}


 .flex-item_text_1 li{
    color:  #111566;;
    font-size: 0.74em;

}
.flex-item_text li{
    color: #4c51b3;
    font-size: 0.74em;

}

.link_reserva_section{
    color: blue;
    font-size: 1.3em;
    font-family: 'Michroma', sans-serif;
    margin: 0px 0.5px;
    
}
.link_reserva_section_1{
    color: rgb(204, 204, 252);
    font-size: 1.5em;
    font-family: 'Michroma', sans-serif;
    margin: 0px 0.5px;
    
}
.h_titulo_section{
    font-size: 1.5em;    
}

.h_titulo_section_1{
    font-size: 1.5em; 
    color: rgb(188, 188, 246);
}

.p_text_section{
    font-size: 1em;

}

.p_text_section_1{
    font-size: 1em;
    color: rgb(55, 55, 167);
}
.flex-item_text_1 li, .flex-item_text li{
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
} 

.codigo_section{
    color: rgb(1, 90, 1);
    font-size: 18px;
}



/*estilos section- termina*/


/*estilos Footer - inicio*/

footer{
    margin: 0.5em;
    width: 98%;
    height: 610px;
    padding-top: 5px;
    border-top-style:double;
    border-top-width: 0.3em ;
    border-top-color: #191f8d;
}
.footer_flex-container{
    width: 99%;
    color: #ddd;
    display: flex;
    flex-direction:column;
    padding: 0.9em;
    text-align: center;
}
.footer_b{
    width: 99%;
    color: blue;
    font-size: 0.8em;
    text-align: center;
    border-top:2px solid #191f8d;
    align-items: center;
    
}
.footer_a_1{
    width: 98%;  
    text-align: center;
    
}
.footer_h6{
    font-size: 2em;
    font-family: Open Sans;
    color: rgb(107, 131, 134);
    text-align: center; 
}
li{
    text-decoration: none;
    list-style:none;
    font-size: 1.5em;
    font-family: 'Assistant', sans-serif;
    padding: 0.1em;
    
}

.footer_a_1 ul{
    padding: 0px;
}

.link_footer{
    text-decoration: none !important; 
}

/*estilos Footer - final*/





   }


   @media screen and (min-width:600px) and (max-width:800px) {
    /* Nuestras nuevas reglas con este ancho o más de pantalla */

    

/*estilos section- inicio*/

section{
    margin: 0%;
}
.flex-container{
    display: flex;
    justify-content:center;

}


.flex-item{
    width: 580px;
    height: 550px;
    margin: 0px;
}

.img_section_paquetes{
    width: 580px;
    height: 550px;
    border-bottom: 3px   solid rgb(164, 164, 246);
    border-top: 0px ;
    border-right: 3px   solid rgb(164, 164, 246);
    border-left: 3px   solid rgb(164, 164, 246);
    border-radius: 0px  0px 15px  15px ;
    margin: 0px 0px 10px 0px;
}

.img_section_paquetes_1{
    width: 580px;
    height: 550px;
    border-top: 3px   solid #191f8d;
    border-left: 3px   solid #191f8d;
    border-right: 3px   solid #191f8d;
    border-radius: 15px 15px 0 0px ;
    border-bottom: 0px;
    margin: 10px 0px 0 0px;
}

.flex-item_text{
    width: 580px;
    height: 750px;
    background-color: #080b35;
    border-radius: 15px 15px 0 0 ;
    border-right: 3px   solid rgb(164, 164, 246);
    border-top: 3px   solid rgb(164, 164, 246);
    border-left: 3px   solid rgb(164, 164, 246);
    border-bottom: 0px;
    padding: 0.2em;
    margin: 5px 0 0 0 ;
}

.flex-item_text_1{
    width: 580px;
    height:700px;
    background-color: rgb(229, 226, 226);
    border-radius: 0 0 15px 15px  ;
    border-bottom: 3px   solid #191f8d;
    border-right: 3px   solid #191f8d;
    border-left: 3px   solid #191f8d;
    border-top: 0px;
    padding: 0.1em;
    margin: 0 0 10px 0px;
}





.flex-item_text_1 ul{
    padding-left: 20px;
    padding-right: 8px;
    
}

.flex-item_text ul{
    padding-left: 20px;
    padding-right: 8px;
    
}


 .flex-item_text_1 li{
    color:  #111566;;
    font-size: 1.1em;

}
.flex-item_text li{
    color: #4c51b3;
    font-size: 1.1em;

}

.link_reserva_section{
    color: blue;
    font-size: 1em;
    font-family: 'Michroma', sans-serif;
    margin: 0px 0.5px;
    
}
.link_reserva_section_1{
    color: rgb(204, 204, 252);
    font-size: 1em;
    font-family: 'Michroma', sans-serif;
    margin: 0px 0.5px;
    
}
.h_titulo_section{
    font-size: 2em;    
}

.h_titulo_section_1{
    font-size: 2em; 
    color: rgb(188, 188, 246);
}

.p_text_section{
    font-size: 1.5em;

}

.p_text_section_1{
    font-size: 1.5em;
    color: rgb(55, 55, 167);
}
.flex-item_text_1 li, .flex-item_text li{
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
} 

.codigo_section{
    color: rgb(1, 90, 1);
    font-size: 18px;
}



/*estilos section- termina*/


/*estilos Footer - inicio*/

footer{
    margin: 0.5em;
    width: 98%;
    height: 610px;
    padding-top: 5px;
    border-top-style:double;
    border-top-width: 0.3em ;
    border-top-color: #191f8d;
}
.footer_flex-container{
    width: 99%;
    color: #ddd;
    display: flex;
    flex-direction:column;
    padding: 0.9em;
    text-align: center;
}
.footer_b{
    width: 99%;
    color: blue;
    font-size: 0.8em;
    text-align: center;
    border-top:2px solid #191f8d;
    align-items: center;
    
}
.footer_a_1{
    width: 98%;  
    text-align: center;
    
}
.footer_h6{
    font-size: 2em;
    font-family: Open Sans;
    color: rgb(107, 131, 134);
    text-align: center; 
}
li{
    text-decoration: none;
    list-style:none;
    font-size: 1.5em;
    font-family: 'Assistant', sans-serif;
    padding: 0.1em;
    
}

.footer_a_1 ul{
    padding: 0px;
}

.link_footer{
    text-decoration: none !important; 
}

/*estilos Footer - final*/





   }

   @media screen and (min-width:801px) and (max-width:1024px) {
    /* Nuestras nuevas reglas con este ancho o más de pantalla */

    

/*estilos section- inicio*/


.flex-container{
    display: flex;
    justify-content:center;
}

.flex-item{
    width: 780px;
    height: 850px;
    margin: 0px;
}

.img_section_paquetes{
    width: 765px;
    height: 850px;
    border-bottom: 3px   solid rgb(164, 164, 246);
    border-top: 0px ;
    border-right: 3px   solid rgb(164, 164, 246);
    border-left: 3px   solid rgb(164, 164, 246);
    border-radius: 0px  0px 15px  15px ;
    margin: 0 0px 10px  7px;
}

.img_section_paquetes_1{
    width: 765px;
    height: 850px;
    border-top: 3px   solid #191f8d;
    border-left: 3px   solid #191f8d;
    border-right: 3px   solid #191f8d;
    border-radius: 15px 15px 0 0px ;
    border-bottom: 0px;
    margin: 10px 0px 0 8px;
}

.flex-item_text{
    width: 765px;
    height: 530px;
    background-color: #080b35;
    border-radius: 15px 15px 0 0 ;
    border-right: 3px   solid rgb(164, 164, 246);
    border-top: 3px   solid rgb(164, 164, 246);
    border-left: 3px   solid rgb(164, 164, 246);
    border-bottom: 0px;
    padding: 0.2em;
    margin: 5px 0px 0 0px;
}

.flex-item_text_1{
    width: 765px;
    height: 530px;
    background-color: rgb(229, 226, 226);
    border-radius: 0 0 15px 15px  ;
    border-bottom: 3px   solid #191f8d;
    border-right: 3px   solid #191f8d;
    border-left: 3px   solid #191f8d;
    border-top: 0px;
    padding: 0.1em;
    margin: 0 0 10px 0px;
}

.flex-item_text_1 ul{
    padding-left: 20px;
    padding-right: 8px;
    
}

.flex-item_text ul{
    padding-left: 20px;
    padding-right: 8px;
    
}


 .flex-item_text_1 li{
    color:  #111566;;
    font-size: 1.1em;

}
.flex-item_text li{
    color: #4c51b3;
    font-size: 1.1em;

}

.link_reserva_section{
    color: blue;
    font-size: 1em;
    font-family: 'Michroma', sans-serif;
    margin: 0px 0.5px;
    
}
.link_reserva_section_1{
    color: rgb(204, 204, 252);
    font-size: 1em;
    font-family: 'Michroma', sans-serif;
    margin: 0px 0.5px;
    
}
.h_titulo_section{
    font-size: 2em;    
}

.h_titulo_section_1{
    font-size: 2em; 
    color: rgb(188, 188, 246);
}

.p_text_section{
    font-size: 1.5em;

}

.p_text_section_1{
    font-size: 1.5em;
    color: rgb(55, 55, 167);
}
.flex-item_text_1 li, .flex-item_text li{
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
} 

.codigo_section{
    color: rgb(1, 90, 1);
    font-size: 18px;
}



/*estilos section- termina*/


/*estilos Footer - inicio*/

footer{
    margin: 0.5em;
    width: 98%;
    height: 610px;
    padding-top: 5px;
    border-top-style:double;
    border-top-width: 0.3em ;
    border-top-color: #191f8d;
}
.footer_flex-container{
    width: 99%;
    color: #ddd;
    display: flex;
    flex-direction:column;
    padding: 0.9em;
    text-align: center;
}
.footer_b{
    width: 99%;
    color: blue;
    font-size: 0.8em;
    text-align: center;
    border-top:2px solid #191f8d;
    align-items: center;
    
}
.footer_a_1{
    width: 98%;  
    text-align: center;
    
}
.footer_h6{
    font-size: 2em;
    font-family: Open Sans;
    color: rgb(107, 131, 134);
    text-align: center; 
}
li{
    text-decoration: none;
    list-style:none;
    font-size: 1.5em;
    font-family: 'Assistant', sans-serif;
    padding: 0.1em;
    
}

.footer_a_1 ul{
    padding: 0px;
}

.link_footer{
    text-decoration: none !important; 
}

/*estilos Footer - final*/





   }