section p{
    
    text-align: justify;
    padding: 2%;
    margin: 2px;
}

h2 {
    font-size: 4em !important;
    }
.tabla_noticias{
display:grid !important;
    grid-template-columns: repeat (3, 1fr) !important;
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
}
.uno{
    grid-column: 1/4;
    grid-row: 1;
}
.dos{
    grid-column: 1/2;
    grid-row: 2;
}
.tres{
    grid-column: 2/3;
    grid-row: 2;
}
.cuatro{
    grid-column: 3/4;
    grid-row: 2;
}
.cinco{
    grid-column: 1/2;
    grid-row: 3
}
.seis{
    grid-column: 2/3;
    grid-row: 3
}
.siete{
    grid-column: 3/4;
    grid-row: 3
}
.tabla_noticias div {
    text-align: center;
}

.imagen_noticias img {
    width: 350px;
    height: 200px;
    border-radius: 15px;
    border: 2px solid rgb(12, 4, 128);
}
.tabla_noticias_2 {
    display:grid !important;
    grid-template-columns: repeat (2, 1fr) !important;
    grid-gap: 30px
}
.tabla0{
    grid-column: 1/3;
    grid-row: 1
}
.tabla1{
    grid-column: 1/2;
    grid-row: 2
}
.tabla2{
    grid-column: 2/3;
    grid-row: 2
}
.tabla3{
    grid-column: 1/2;
    grid-row: 3
}
.tabla4{
    grid-column: 2/3;
    grid-row: 3
}
.tabla_noticias_2 div {
    text-align: center;
}



















/*estilos Footer - inicio*/

footer{
    margin: 1em;
    width: 98%;
    height: 340px;
    padding-top: 30px;
    border-top-style:double;
    border-top-width: 0.6em ;
    border-top-color: #191f8d;
}
.footer_flex-container{
    width: 100%;
    color: #ddd;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 0.9em;
}
.footer_b{
    width: 100%;
    color: blue;
    font-size: 0.9em;
    text-align: center;
    border-top:2px solid #191f8d;
    align-items: center;
    
}
.footer_a_1{
    width: 30%;  
    text-align: center;
    
    
}
.footer_h6{
    font-size: 2em;
    font-family: Open Sans;
    color: rgb(107, 131, 134);
    text-align: center; 
}
li{
    text-decoration: none;
    list-style:none;
    font-size: 1.4em;
    font-family: 'Assistant', sans-serif;
    padding: 0.1em;
    
}

.link_footer{
    text-decoration: none !important; 
}

/*estilos Footer - final*/